@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Oswald:wght@500;600&family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,600&display=swap");

@layer base {
  html {
    @apply font-sans;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.destination {
  /* font-family: "Oswald", sans-serif; */
}

.destination-img {
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */

  filter: brightness(100%) contrast(100%) saturate(15%) blur(0px)
    hue-rotate(0deg);
  border-radius: 0px 0px 0px 0px;
}

.destination-img:hover {
  filter: none;
}

.img-container-journey {
  position: relative;
  width: 50%;
}

.journey-img {
  opacity: 1;
  display: block;
  width: 100%;
  /* height: auto; */
  transition: 1s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  -ms-transform: translate(-20%, -50%);
  text-align: center;
}

.img-container-journey:hover .journey-img {
  opacity: 0.7;
}
.img-container-journey:hover .overlay {
  opacity: 1;
}

.hero_container {
  background-image: linear-gradient(
      to bottom,
      rgba(14, 18, 37, 0.52),
      rgba(31, 23, 29, 0.73)
    ),
    url("https://images.pexels.com/photos/1313578/pexels-photo-1313578.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */

  height: 120vh;
}

.horizontal_line {
  /* width: 60px; */
  /* border: 0.2px solid #1791a0;
  background-color: #1791a0; */
  position: relative;
}

.about_container {
  background-image: url("https://images.pexels.com/photos/5480713/pexels-photo-5480713.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */

  height: 70vh;
}
.destination_container {
  background-image: url("https://images.pexels.com/photos/2735739/pexels-photo-2735739.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */

  height: 70vh;
}

.blog_container {
  background-image: url("https://images.pexels.com/photos/8376089/pexels-photo-8376089.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */

  height: 80vh;
}

.video_bg {
  height: 100%;
  width: 100%;
  /* float: left; */
  /* top: 0; */
  padding: none;
  /* position: fixed; optional depending on what you want to do in your app */
}

.main-header {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.icon_social {
  font-size: 1rem;
  transition-duration: 0.3s;
  transition-property: transform;
}
